<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="memo memo-edit">
      <div class="memo-menu">
        <a href="/memos/<%= memo._id %>">Back</a>
      </div>
      <h2>Edit</h2>
      <form class="memo-form" action="/memos/<%= memo._id %>?_method=put" method="post">
        <!-- put은 form에서 사용할 수 없으므로 _method=put을 사용함 -->
        <div>
          <label for="title">title</label>
          <input type="text" id="title" name="title" value="<%= memo.title %>">
        </div>
        <div>
          <label for="id">id</label>
          <input type="text" id="id" name="id" value="<%= memo.id %>">
        </div>
        <div>
          <label for="text">text</label>
          <input type="text" id="text" name="text" value="<%= memo.text %>">
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>